PORT=3001
# MONGODB_PWS="Place your pwd"
# MONGODB_USER="place you user"

DATABASE_URL="Your mongodb url to connect to db"

# HASHING for Bcryptjs
# for production use only 8+ value
NUM_SALT_ROUNDS=1
#NUM_SALT_ROUNDS=12

# JWT secrets
JWT_SECRET="Your jwt secret"
JWT_EXPIRES_IN=15m
REFRESH_TOKEN_SECRET="Your refresh token secret"
REFRESH_TOKEN_EXPIRES_IN=30d

# freeDictionary APi base URL request for word entries (append the word to it)
# https://github.com/meetDeveloper/freeDictionaryAPI/blob/master/README.md
FREE_DICTIONARY_API_URL=https://api.dictionaryapi.dev/api/v2/entries/en/
# The URL to the file .txt with all dictionary words
FREE_DICTIONARY_FULL_LIST_URL=https://raw.githubusercontent.com/meetDeveloper/freeDictionaryAPI/refs/heads/master/meta/wordList/english.txt